a {
    color: blue;
    text-decoration: none;
}

#logo-container {
	height: 200px;
	width: 670px;
	margin: 0 auto;
	background-image: url(../images/voyant-see.png);
	background-repeat: no-repeat;
}

#voyantheader .x-panel-header-default {
	background-color: #ffffff;
}

#voyantheader .x-panel-header-default-collapsed {
	background-color: #f5f5f5;
}

.voyant-footer {
    text-align: center;
    font-size: 10px;
}

@font-face {
  font-family : 'FontAwesome';
  src         : url('../fontawesome/current/fonts/fontawesome-webfont.eot?32940503');
  src         : url('../fontawesome/current/font-awesome-4.0.3/fonts/fontawesome-webfont.eot?32940503#iefix') 
        format('embedded-opentype'), url('../fontawesome/current/fonts/fontawesome-webfont.woff?32940503') 
        format('woff'), url('../fontawesome/current/fonts/fontawesome-webfont.ttf?32940503') format('truetype'), 
        url('../fontawesome/current/fonts/fontawesome-webfont.svg?32940503#FontAwesome') format('svg');
  font-weight : normal;
  font-style  : normal;
}

.info-tip {
    border-bottom: thin dotted #aaf;
}

.x-legend-container {
    border: none;
}

.x-legend-item {
    border-left: none;
    padding: .2em .5em .2em 1.8em;
}

.x-legend-item-marker {
    top: .35em;
}

.error {
	color: red;
}

.placeholder {
	color: grey;
	font-style: italic;
}

svg text {
	text-anchor: middle;
}

svg text.keyword {
	text-anchor: middle;
}

svg text.context {
	text-anchor: middle;
}

svg line {
  stroke: #eee;
  stroke-width: 1px;
}