.container-wrapper {
	display: table;
}

.container-content {
	display: table-cell;
	width: 100%;
}

.container-icons {
	display: table-cell;
	width: 25px;
	vertical-align: top;
	padding: 5px;
}

.code_wrapper, .text_wrapper, .text_contents {
	width: auto;
	margin: 5px;
}

.code_wrapper {
	height: 100px;
}

.text_contents {
	padding: 10px;
	display: none;
	border: 1px solid #fff;
	background-color: #fff;
}

.text_contents:hover {
	cursor: pointer;
	border: 1px dashed #999;
	background-color: #eee;
}

.code_result {
	padding: 10px;
}

#cajaFrame, #codeFrame {
	display: none;
} 

.CodeMirror {
	border: 1px solid #333;
}

.CodeMirror-scroll {
	height: 100px !important;
}