#################
## Eclipse
#################

.project
.metadata
bin/
tmp/
work/
*.DS_Store
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.tomcatplugin
.settings/
/target
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib
src/main/webapp/.#webclasspath
