#################
## Eclipse
#################

.project
.metadata
bin/
tmp/
work/
*.DS_Store
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.tomcatplugin
.settings/
/target
src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib
src/main/webapp/.\#webclasspath
src/main/webapp/resources/spyral/node_modules
src/main/resources/oath.properties
/.pydevproject
.vscode/
src/main/js/node_modules
