#dtcAnnotator .row {
	font-family: 'Nunito', Arial, sans-serif !important;
	font-weight: 300;
	font-size: 12px;
	color: #999;
	padding: 3px 5px;
	border-bottom: 1px solid #E7E7E7;
}

#dtcAnnotator .row.over {
	background-color: #E7E7E7;
	cursor: pointer;
}

#dtcAnnotator .row.selected {
	
}

#dtcAnnotator .row span {
	color: #231F20;
}

#dtcAnnotator .annoTags .tag {
	display: inline-block;
	text-decoration: underline;
}

#dtcAnnotator .annoText {
	color: #231F20;
	font-size: 14px;
	line-height: 24px;
	/*
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	*/
}

#dtcAnnotator .show {
	display: block;
}
#dtcAnnotator .hide {
	display: none;
}

#dtcAnnotator .annoInfo {
	
}

/* overrides */
div.annotator-notice-error {
	display: none !important;
}


.annotator-viewer li > div:nth-of-type(1) {
	max-height: 200px;
	overflow-y: auto;
	border-top: 1px solid rgba(133, 133, 133, 0.11);
}

.annotator-viewer .annotator-controls {
	float: none !important;
	opacity: 1 !important;
	margin: 0 5px 8px;
	display: inline-block;
}

.annotator-viewer .annotator-controls button, .annotator-viewer .annotator-controls a {
	line-height: 13px;
}

.annotator-adder {
	background-image: url(annotator_adder.png) !important;
}

.annotator-editor a:hover,.annotator-editor a:focus,.annotator-editor a.annotator-focus,.annotator-filter .annotator-filter-active label,.annotator-filter .annotator-filter-navigation button:hover
	{
	outline: 0;
	border-color: #b25819 !important;
	background-color: #d3681d !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f58a3f),
		color-stop(0.5, #ed7621), color-stop(0.5, #d3681d), to(#d4691e)) !important;
	background-image: -moz-linear-gradient(to bottom, #f58a3f, #ed7621 50%, #d3681d 50%,
		#d4691e) !important;
	background-image: -webkit-linear-gradient(to bottom, #f58a3f, #ed7621 50%, #d3681d 50%,
		#d4691e) !important;
	background-image: linear-gradient(to bottom, #f58a3f, #ed7621 50%, #d3681d 50%, #d4691e) !important;
}

.annotator-editor a:active,.annotator-filter .annotator-filter-navigation button:active
	{
	border-color: #713810 !important;
	background-color: #e47120 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f7a366),
		color-stop(0.5, #f68d44), color-stop(0.5, #e47120), to(#f47b25)) !important;
	background-image: -moz-linear-gradient(to bottom, #f7a366, #f68d44 50%, #e47120 50%,
		#f47b25) !important;
	background-image: -webkit-linear-gradient(to bottom, #f7a366, #f68d44 50%, #e47120 50%,
		#f47b25) !important;
	background-image: linear-gradient(to bottom, #f7a366, #f68d44 50%, #e47120 50%, #f47b25) !important;
}