#voyant-notebooks-top-header .x-header-text-container {
	text-align: left;
	font-size: 20px;
	height: 36px;
	padding-top: 13px;
	padding-left: 45px;
}
#voyant-notebooks-top-header {
	height: 42px;
	background-image: url('voyant-36x36.png');
	background-repeat: no-repeat;
	background-position: 3px 3px;
	padding: 0px;
	padding-right: 10px;
}
#notebook-footer {
	background-color: #f6f6f6;
	text-align: center;
	color: #3892d3;
}

.container-icons img.x-tool-img {
	margin: 2px;
}
.container-icons img.x-tool-img:hover {
	background-color: red;
	cursor: pointer;
}

.notebook-text-container .x-tool-right {
	display: none;
}
.x-tool .x-tool-img {
	opacity: inherit;
	filter: inherit;
}
.container-wrapper {
	display: table;
	margin-left: 1em;
}

.container-content {
	display: table-cell;
	width: auto;
	padding-left: 1em;
	padding-right: 1em;
}

.container-icons {
	background-color: white; /* start invisible */
	display: table-cell;
	width: 25px;
	vertical-align: top;
	padding: 5px;
}
.container-icons:hover, .container-icons.active {
	background-color: #ddd; /* start invisible */
}
.notebook-text-container .container-docs {
	display: none;
}
.notebook-code-container .container-docs {
	width: 300px;
}
.container-docs {
	display: table-cell;
	vertical-align: top;
	padding: 5px;
}
.code_wrapper, .text_wrapper, .text_contents {
	width: auto;
	margin: 5px;
}

.code_wrapper {
	height: 100px;
	background-color: rgb(255,255,252) !important;
	border: thin solid #eee;
	border-radius: 5px;
}
.code_wrapper .ace_gutter, .code_wrapper .ace_gutter-active-line {
	background-color: rgb(255,255,252) !important;
}
.ace_gutter-cell {
	color: #bbb;
}

.text_contents {
	/*padding: 10px;
	padding-left: 0px;*/
	border: 1px solid #fff;
	background-color: #fff;
}

.text_contents:hover {
	cursor: pointer;
	border: 1px dashed #999;
	background-color: #eee;
}

.code_result {
	/*margin-top: 1em;*/
	padding: 10px;
	background-color: rgb(250,250,250);
	border: thin solid #eee;
	border-radius: 5px;
	margin-left: 3em;
	display: none;
}
.container-docs {
	color: #6e6e6e;
}
.container-docs .class {
	color: #66ab16;
}
.container-docs .method {
	color: #0464bb;
}
.container-docs .cfg {
	font-style: italic;
	color: brown;
}
.container-docs .meta {
	display: none;
}
.container-docs .params {
	font-style: italic;
	color: brown;
}
.container-docs .return {
	font-style: italic;
	color: orange;
}
.container-docs .keyword {
	color: teal;
}
.container-docs a {
	text-decoration: none;
	color: blue;
}
.container-docs ul {
	padding-left: 1em;
}
.error {
	color: red;
}

#cajaFrame, #codeFrame {
	display: none;
}

.hi {
	background-color: rgb(255,255,200);
}