#toolsList .listTool {
	padding: 10px 5px;
	cursor: pointer;
	user-select:none;-o-user-select:none;-ms-user-select:none;-moz-user-select:-moz-none;-webkit-user-select:none;
}

#toolsList .listTool.over {
	background-color: #eee;
}

#toolsList .listTool.selected {
	background-color: #6BB8EF;
}

table.builder, .builder tbody {
	width: 100%;
	height: 100%;
}

.builder td {
	border: 3px solid #bbb;
}

.builder td.selected {
	background-color: #6BB8EF;
}

.builder.x-dd-drag-current {
	padding: 10px 5px;
	background-color: rgba(246,240,177,1);
}

.resizer {
	background-color: rgba(128,128,128,0);
	position: absolute;
}

.resizer:hover {
    background-color: rgba(128,128,128,1);
}

.column.resizer {
	width: 10px;
	cursor: e-resize;
}

.row.resizer {
	height: 10px;
	cursor: n-resize;
}

.resizer.x-dd-drag-current {
	background-color: rgba(128,128,128,1);
}