<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<context-param>
		<param-name>version</param-name>
		<param-value>2.4</param-value>
	</context-param>
	
	<context-param>
		<param-name>build</param-name>
		<param-value>M16</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>tool</servlet-name>
		<jsp-file>/tool/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>catalogue</servlet-name>
		<url-pattern>/catalogue/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>catalogue</servlet-name>
		<jsp-file>/catalogue/index.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>microocp</servlet-name>
		<url-pattern>/microocp/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>microocp</servlet-name>
		<jsp-file>/microocp/index.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>tool</servlet-name>
		<url-pattern>/tool/*</url-pattern>
	</servlet-mapping>
	
	<!-- we changed from spiral to spyral, we'll redirect in spyral -->
	<servlet-mapping>
		<servlet-name>spiral</servlet-name>
		<url-pattern>/spiral/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>spiral</servlet-name>
		<jsp-file>/spyral/index.jsp</jsp-file>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>spyral</servlet-name>
		<url-pattern>/spyral/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>spyral</servlet-name>
		<jsp-file>/spyral/index.jsp</jsp-file>
	</servlet>
	
	<!-- this is to handle a bad URL in Hermeneutica the book -->
	<servlet-mapping>
		<servlet-name>collocatesgraph</servlet-name>
		<url-pattern>/CollocatesGraph/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>collocatesgraph</servlet-name>
		<jsp-file>/tool/index.jsp</jsp-file>
	</servlet>
	
	<!-- available from http://localhost:8080/trombone?param=...&param=...&param=... -->
	<servlet>
		<servlet-name>trombone</servlet-name>
		<servlet-class>org.voyanttools.voyant.Trombone</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>trombone</servlet-name>
		<url-pattern>/trombone</url-pattern>
	</servlet-mapping>

	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- make sure that Javascript is sent as UTF-8 (Jetty does this but Tomcat doesn't) -->
	<mime-mapping>
		<extension>js</extension>
		<mime-type>application/javascript;charset=UTF-8</mime-type>
	</mime-mapping>
</web-app>